.modal {
    display: none;
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.25);
}

.modal-content {
    background-color: white;
    position: absolute;
}

.close {
    color: black;
    float: right;
}

.close:hover {
    color: blue;
    float: right;
}